* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  padding: 40px;
  background: url("../img/145562.png");
  background-position: center center;
  background-size: cover;
}

footer h1 {
  text-align: center;
}

footer .footer-text {
  max-width: 100%;
  text-align: center;
  margin: 10px 150px;
}

footer .footer-icon-text {
  color: #1f1f25;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

footer .footer-icon-text:hover {
  color: #ee076e;
}

footer .row {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer span {
  background-color: #c6c9d8;
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 15px;
  margin-right: 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

footer span:hover {
  -webkit-box-shadow: 0 13px 30px rgba(16, 14, 23, 0.75);
          box-shadow: 0 13px 30px rgba(16, 14, 23, 0.75);
  opacity: .9;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

footer span a {
  padding: 8px 17px 8px 10px;
  color: #1f1f25;
  font-weight: bold;
}

footer span i {
  width: 40px;
  height: 40px;
  line-height: 40px !important;
  text-align: center;
  border-radius: 50px;
  background: linear-gradient(145deg, #f81f01, #ee076e);
}
/*# sourceMappingURL=footer.css.map */