$main-color: #1f1f25;
$second-color: #c6c9d8;
$gradient: linear-gradient(145deg,#f81f01,#ee076e);


*{
    box-sizing: border-box;
}

footer{
    padding: 40px;
    background: url('../img/145562.png');
    background-position: center center;
    background-size: cover;
    h1{
      text-align: center;
    }
  
    .footer-text{
      max-width: 100%;
      text-align: center;
      margin: 10px 150px;
    }

    .footer-icon-text{
        color: $main-color;
        text-decoration: none;
        transition: all .2s ease-in-out;
    }

    .footer-icon-text:hover{
        color: #ee076e;
    }
  
    .row{
      margin: 0 auto;
      margin-top: 20px;
      max-width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    span{
      background-color: $second-color;
      border-radius: 50px;
      overflow: hidden;
      margin-bottom: 15px;
      margin-right: 20px;
      transition: all .5s;
      &:hover{
        box-shadow: 0 13px 30px rgba(16, 14, 23, 0.75);
      opacity: .9;
      
      transform: translateY(-3px);
      }
      a{
        padding: 8px 17px 8px 10px;
        color: $main-color;
        font-weight: bold;
      }
      i{
        width: 40px;
        height: 40px;
        line-height: 40px !important;
        text-align: center;
        border-radius: 50px;
        background: $gradient;
      }
    }
  }