* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

a img {
  display: none !important;
  opacity: 0 !important;
}

h1, h2, h3, h4, h4, h5 {
  text-transform: uppercase;
}

p, html {
  line-height: 1.5;
}

body, html {
  color: #c6c9d8;
}

.container {
  width: 85%;
  margin: auto;
}

@media only screen and (max-width: 800px) {
  .container {
    width: 85%;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input, button, textarea {
  outline: none;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

img {
  max-width: 100%;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*** Styles ***/
/* border-box all the things */
.content-wrapper, .navbar {
  width: 100vw;
  margin: auto;
  position: relative;
  -webkit-transition: all 0.5 ease-in;
  transition: all 0.5 ease-in;
}

@media only screen and (max-width: 1280px) {
  .content-wrapper, .navbar {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .content-wrapper, .navbar {
    width: 90%;
  }
}

.main-header {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.navbar-top {
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-top .logo {
  display: block;
  width: auto;
  position: absolute;
  left: 0;
}

.logo img {
  width: 200px;
}

.navbar-social-links {
  position: absolute;
  right: 0;
}

.navbar-social-links li {
  display: inline-block;
  margin-left: 20px;
  position: relative;
}

.navbar-social-links li a {
  font-size: 20px;
}

.bottom-header {
  width: 100%;
  z-index: 99;
  background: url("../img/145562.png");
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

.navbar-bottom {
  position: fixed;
  z-index: 9999;
}

.margin-header {
  padding-top: 5px;
  padding-left: 8px;
}

.navbar-bottom * {
  font-weight: bold !important;
}

.navbar-bottom .nav-links {
  position: relative;
  left: 100px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-bottom .nav-links li {
  margin-right: 10px;
  text-transform: uppercase;
  display: inline-block;
  height: 100%;
  color: #fff;
  position: relative;
}

.navbar-bottom .nav-links li a {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 20px;
  font-family: 'Lato', sans-serif;
  transition: background 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: background 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.navbar-bottom .nav-links li:hover > a, .navbar-bottom .nav-links li a.active {
  background: linear-gradient(145deg, #f81f01, #ee076e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub_links {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  display: block;
  background: #5B52F8;
  z-index: 99;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translatey(7px);
          transform: translatey(7px);
}

.sub_links li {
  position: relative;
  display: block !important;
  margin: 0 !important;
}

.sub_links li a {
  padding: 20px !important;
  display: inline-block;
  font-size: 13px;
}

.navbar-bottom .nav-links li:hover > .sub_links {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.toggler {
  position: absolute;
  top: 0;
  padding-top: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 101;
}

.search-toggle {
  right: 0;
  top: 50%;
  margin-top: -20px;
}

.menu-toggle {
  left: 0;
  top: 50%;
  margin-top: -20px;
  margin-left: -12px;
  display: none;
}

.cancel-btn {
  display: none;
}

.toggler svg {
  width: 40px;
  height: 40px;
  fill: #c6c9d8;
}

.searchbar {
  position: absolute;
  right: 0;
  width: 300px;
  height: 60px;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.05), 0 20px 22px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 7px rgba(0, 0, 0, 0.05), 0 20px 22px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  visibility: hidden;
  opacity: 0;
}

.searchbar input {
  width: 100%;
  height: 100%;
  border: none;
}

.search-open .searchbar {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  z-index: 11;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
  visibility: visible;
  -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media only screen and (max-width: 786px) {
  .navbar-bottom .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    display: block;
    background: #c6c9d8;
    padding: 1rem;
    padding-top: 50px;
    -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.05), 0 20px 22px rgba(0, 0, 0, 0.05);
            box-shadow: 0 5px 7px rgba(0, 0, 0, 0.05), 0 20px 22px rgba(0, 0, 0, 0.05);
    z-index: 0;
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    visibility: hidden;
    opacity: 0;
    overflow-y: hidden;
  }
  .menu-open .nav-links {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
    z-index: 102;
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
    visibility: visible;
    -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .menu-toggle {
    display: inline-block;
    margin-left: 0;
  }
  .cancel-btn {
    display: inline-block;
    top: 5px;
    right: 1rem;
  }
  .cancel-btn svg {
    fill: #1f1f25 !important;
  }
  .searchbar {
    width: 100%;
  }
  .navbar-bottom .nav-links li {
    display: block;
    height: auto;
    margin: 2px 0;
    color: #1f1f25;
    border-radius: 7px;
    overflow: hidden;
  }
  .navbar-bottom .nav-links li a {
    height: 60px;
  }
  .navbar-bottom .nav-links li a:hover, .navbar-bottom .nav-links li a.active {
    background: linear-gradient(145deg, #f81f01, #ee076e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .navbar-bottom .nav-links li:hover > .sub_links {
    height: auto;
  }
  .sub_links {
    background: #fafafa;
    visibility: visible;
    opacity: 1;
    width: 100%;
    position: relative;
    top: 0;
    -webkit-transform: translatey(0);
            transform: translatey(0);
    height: 0;
  }
  .sub_links li {
    display: block;
    padding-left: 420px;
  }
  .search-toggle, .menu-toggle {
    margin-top: 10px;
  }
}

.hero-header {
  margin: 30px 0;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .hero-header {
    display: block;
  }
  .intro-sec, .home-hiw {
    width: 100% !important;
  }
}

@media only screen and (max-width: 800px) {
  section#big-logo img {
    width: 40% !important;
    padding-top: 12%;
  }
}

section#big-logo {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 70vh;
}

section#big-logo .hero {
  min-width: 70%;
  min-height: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: bottom;
}

section#big-logo .hero-text {
  position: relative;
  top: 50%;
  font-size: 80px;
  letter-spacing: 2px;
}

section#big-logo .type-text {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: inline-block;
  font-size: 2.6rem;
  font-weight: 900;
  line-height: 1;
  color: white;
}

@media only screen and (max-width: 800px) {
  section#big-logo .type-text {
    font-size: 1.3rem;
  }
}

section#big-logo .title-text {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: inline-block;
  font-size: 1em;
  font-weight: 900;
  line-height: 1;
  color: white;
}

@media only screen and (max-width: 800px) {
  section#big-logo .title-text {
    font-size: .5em;
  }
}

section#grid .container {
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

section#grid .container div {
  margin-bottom: 50px;
  width: 33%;
}

@media only screen and (max-width: 800px) {
  section#grid .container div {
    width: 100%;
  }
}

section#grid .container div:nth-child(2) {
  margin: 0 20px;
}

@media only screen and (max-width: 800px) {
  section#grid .container div:nth-child(2) {
    margin: 0 0 50px 0;
  }
}

@media only screen and (max-width: 800px) {
  section#grid .container {
    display: block;
  }
}

section#grid .container i {
  font-size: 60px;
  background: linear-gradient(145deg, #f81f01, #ee076e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section#grid .container p {
  color: #8990af;
}

section#about .container {
  color: #8990af;
  padding-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 800px) {
  section#about .container {
    display: block;
  }
}

section#about .container h1, section#about .container h2 {
  color: #1f1f25;
}

section#about .container .img {
  width: 350px;
}

@media only screen and (max-width: 800px) {
  section#about .container .img {
    display: block;
    margin: auto;
    width: 100%;
  }
  section#about .container .img .img2 {
    margin: -60px 0 0 0 !important;
  }
}

section#about .container .img .img2 {
  background-image: url(../img/about_us.jpg);
  height: 500px;
  background-size: cover;
  background-position: center center;
  margin: -60px 50px 50px 0;
  border-radius: 20px;
  -webkit-box-shadow: 0 13px 30px rgba(16, 14, 23, 0.49);
          box-shadow: 0 13px 30px rgba(16, 14, 23, 0.49);
}

section#about .container .about {
  padding-top: 35px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

section#about .container .about .abc {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#about .container .about .abc h2 {
  font-size: 18px;
}

section#about .container .about .abc div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section#about .container .about .abc div:first-child {
  margin-right: 8px;
}

section#about .container .about .abc div:last-child {
  margin-left: 8px;
}

#services {
  padding: 20px 0;
  padding-top: 60px;
  background-color: rgba(198, 201, 216, 0.5);
  color: #555c7d;
}

#services h1, #services h2, #services h3, #services h4 {
  color: #1f1f25;
}

#services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 800px) {
  #services .container {
    display: block;
  }
}

#services .container .serv1 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-right: 20px;
}

@media only screen and (max-width: 800px) {
  #services .container .serv1 {
    display: block;
  }
}

#services .container .serv1 .material-btn {
  background: linear-gradient(145deg, #f81f01, #ee076e);
  text-transform: uppercase;
  border: none;
  margin: 35px 0;
  cursor: pointer;
  border-radius: 10px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  outline: none;
  color: white;
  font-weight: bold;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#services .container .serv1 .material-btn:hover {
  color: #ee076e;
  background: white;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#services .container .serv2 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 800px) {
  #services .container .serv2 {
    display: block;
  }
}

#services .container .serv2 .sqr {
  width: 100%;
}

#services .container .serv2 .sqr div {
  margin-bottom: 10px;
  padding: 0 15px 15px 15px;
  display: inline-block;
  border-radius: 9px;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  #services .container .serv2 .sqr div {
    display: block;
  }
}

#services .container .serv2 .sqr div h2 {
  font-size: 18px;
}

#services .container .serv2 .sqr div i {
  font-size: 40px;
  margin-top: 11px;
  background: linear-gradient(145deg, #f81f01, #ee076e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#services .container .serv2 .sqr div h1 {
  margin-top: 4px;
}

#services .container .serv2 .sqr div:hover, #services .container .serv2 .sqr .active {
  background: #f22449;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  color: white;
  -webkit-box-shadow: 0 13px 30px rgba(16, 14, 23, 0.49);
          box-shadow: 0 13px 30px rgba(16, 14, 23, 0.49);
}

#services .container .serv2 .sqr div:hover h2, #services .container .serv2 .sqr .active h2 {
  color: white;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#services .container .serv2 .sqr div:hover i, #services .container .serv2 .sqr .active i {
  color: white;
  -webkit-text-fill-color: white;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#services .container .serv2 .sqr:first-child {
  margin-right: 10px;
}

#our-work {
  padding: 20px 0;
}

#our-work .container {
  padding: 50px 0;
  color: #1f1f25;
  position: relative;
}

#our-work .container p {
  color: #555c7d;
}

#our-work .container .next {
  position: absolute;
  top: 50%;
  right: -40px;
  font-size: 2em;
  color: #ee076e;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  #our-work .container .next {
    top: 35%;
  }
}

#our-work .container .prev {
  position: absolute;
  top: 50%;
  left: -40px;
  font-size: 2em;
  color: #ee076e;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  #our-work .container .prev {
    top: 35%;
  }
}

#our-work .container .work-wrapper {
  margin: 30px auto;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  #our-work .container .work-wrapper {
    display: block;
  }
}

#our-work .container .work-wrapper .work {
  height: 400px;
  width: 380px;
  margin: 0 10px;
  display: inline-block;
}

#our-work .container .work-wrapper .work .card {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media only screen and (max-width: 800px) {
  #our-work .container .work-wrapper .work .card {
    width: 100%;
    height: 100%;
  }
}

#our-work .container .work-wrapper .work .card:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#our-work .container .work-wrapper .work .card .content {
  position: relative;
  display: block;
  text-align: center;
  bottom: 15px;
}

#our-work .container .work-wrapper .work .card .content h2 {
  margin: 2px;
  font-size: 20px;
}

#our-work .container .work-wrapper .work .card .content button {
  background: linear-gradient(145deg, #f81f01, #ee076e);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  outline: none;
  color: white;
  font-weight: bold;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#our-work .container .work-wrapper .work .card .content button:hover {
  color: #ee076e;
  background: white;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

footer {
  padding: 40px;
  background: url("../img/145562.png");
  background-position: center center;
  background-size: cover;
}

footer h1 {
  text-align: center;
}

footer .footer-text {
  max-width: 100%;
  text-align: center;
  margin: 10px 150px;
}

footer .footer-icon-text {
  color: #1f1f25;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

footer .footer-icon-text:hover {
  color: #ee076e;
}

footer .row {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer span {
  background-color: #c6c9d8;
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 15px;
  margin-right: 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

footer span:hover {
  -webkit-box-shadow: 0 13px 30px rgba(16, 14, 23, 0.75);
          box-shadow: 0 13px 30px rgba(16, 14, 23, 0.75);
  opacity: .9;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

footer span a {
  padding: 8px 17px 8px 10px;
  color: #1f1f25;
  font-weight: bold;
}

footer span i {
  width: 40px;
  height: 40px;
  line-height: 40px !important;
  text-align: center;
  border-radius: 50px;
  background: linear-gradient(145deg, #f81f01, #ee076e);
}
/*# sourceMappingURL=global.css.map */