$main-color: #1f1f25;
$second-color: #c6c9d8;
$gradient: linear-gradient(145deg,#f81f01,#ee076e);
*{
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
padding: 0;
margin: 0;
}

a{
  img{
    display: none !important;
    opacity: 0 !important;
  }
}

h1, h2,h3, h4, h4, h5{
  text-transform: uppercase;
}
p, html{
  line-height: 1.5;
}
body, html{
  color: $second-color;
}
.container{
width: 85%;
margin: auto;
@media only screen and (max-width: 800px){
  width: 85%;
}
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input, button, textarea {
  outline: none;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

img {
  max-width: 100%;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*** Styles ***/

/* border-box all the things */

.center{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  align-items: center;
}

.content-wrapper, .navbar {
  width: 100vw;
  margin: auto;
  position: relative;
  transition: all 0.5 ease-in;
}

@media only screen and (max-width: 1280px) {
  .content-wrapper, .navbar {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .content-wrapper, .navbar {
    width: 90%;
  }
}

.main-header {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.navbar-top {
  height: 170px;
  display: flex;
  align-items: center;
}

.navbar-top .logo {
  display: block;
  width: auto;
  position: absolute;
  left: 0;
}
.logo img {
  width: 200px;
}

.navbar-social-links {
  position: absolute;
  right: 0;
}

.navbar-social-links li {
  display: inline-block;
  margin-left: 20px;
  position: relative;
}

.navbar-social-links li a {
  font-size: 20px;
}

.bottom-header {
  width: 100%;
  z-index: 99;
  background: url('../img/145562.png');
  background-position: center center;
  background-size: cover;
  min-height: 70vh
}

.navbar-bottom{
  position: fixed;
  z-index: 9999;
}

.margin-header{
  padding-top: 5px;
  padding-left: 8px;
}

.navbar-bottom *{
    font-weight: bold !important;
}
.navbar-bottom .nav-links {
  position: relative;
  left: 100px;
  height: 60px;
  display: flex;
  align-items: center;
}

.navbar-bottom .nav-links li {
  margin-right: 10px;
  text-transform: uppercase;
  display: inline-block;
  height: 100%;
  color: #fff;
  position: relative;
}

.navbar-bottom .nav-links li a {
  font-size: 14px;
  display: flex;
  align-items: center;
  height: 100%;
  border: none;
  padding: 0 20px;
  font-family: 'Lato', sans-serif;
  transition: background .3s cubic-bezier(.165,.84,.44,1);
    -webkit-transition: background .3s cubic-bezier(.165,.84,.44,1);
}

.navbar-bottom .nav-links li:hover > a, .navbar-bottom .nav-links li a.active {
  background: $gradient;
  text-decoration: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.sub_links {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  display: block;
  background: #5B52F8;
  z-index: 99;
  transition: all .3s cubic-bezier(.165,.84,.44,1);
    -webkit-transition: all .3s cubic-bezier(.165,.84,.44,1);
  visibility: hidden;
  opacity: 0;
  transform: translatey(7px);
}

.sub_links li {
  position: relative;
  display: block !important;
  margin: 0 !important;
}

.sub_links li a {
  padding: 20px !important;
  display: inline-block;
  font-size: 13px;
}

.navbar-bottom .nav-links li:hover > .sub_links {
  visibility: visible;
  opacity: 1;
  transform: translatey(0);
}

.toggler {
  position: absolute;
  top: 0;
  padding-top: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 101;
}

.search-toggle {
  right: 0;
  top: 50%;
  margin-top: -20px;
}

.menu-toggle {
  left: 0;
  top: 50%;
  margin-top: -20px;
  margin-left: -12px;
  display: none;
}

.cancel-btn {
  display: none;
}

.toggler svg {
  width: 40px;
  height: 40px;
  fill: $second-color;
}

.searchbar {
  position: absolute;
  right: 0;
  width: 300px;
  height: 60px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 5px 7px
    rgba(0, 0, 0, 0.05), 0 20px 22px
    rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  padding: 10px;
  transition-delay: 1s;
    -webkit-transform: translateY(30px);
  transform: translateY(30px);
  transition: all .2s cubic-bezier(.165,.84,.44,1);
    -webkit-transform: all .2s cubic-bezier(.165,.84,.44,1);
    visibility: hidden;
  opacity: 0;
}

.searchbar input {
  width: 100%;
  height: 100%;
  border: none;
}

.search-open .searchbar {
  -webkit-transform: translateY(0px);
    transform: translateY(0px);
  opacity: 1;
  z-index: 11;
  transition-delay: 0.15s;
  visibility: visible;
  transition: all .2s cubic-bezier(.165,.84,.44,1);
    -webkit-transform: all .2s cubic-bezier(.165,.84,.44,1);
}


@media only screen and (max-width: 786px) {
  // .navbar-top .logo {}

  .navbar-bottom .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    display: block;
    background: $second-color;
    padding: 1rem;
    padding-top: 50px;
    box-shadow: 0 5px 7px
      rgba(0, 0, 0, 0.05), 0 20px 22px
      rgba(0, 0, 0, 0.05);
    z-index: 0;
    transition-delay: 1s;
      -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    transition: all .2s cubic-bezier(.165,.84,.44,1);
      -webkit-transform: all .2s cubic-bezier(.165,.84,.44,1);
    visibility: hidden;
    opacity: 0;
    overflow-y: hidden;
  }

  .menu-open .nav-links {
    -webkit-transform: translateX(0px);
      transform: translateX(0px);
    opacity: 1;
    z-index: 102;
    transition-delay: 0.15s;
    visibility: visible;
    transition: all .2s cubic-bezier(.165,.84,.44,1);
      -webkit-transform: all .2s cubic-bezier(.165,.84,.44,1);
  }

  .menu-toggle {
    display: inline-block;
    margin-left: 0;
  }
  .cancel-btn {
    display: inline-block;
    top: 5px;
    right: 1rem;
    svg{

        fill: $main-color !important;
    }
  }
  .searchbar {
    width: 100%;
  }
  .navbar-bottom .nav-links li {
    display: block;
    height: auto;
    margin: 2px 0;
    color: $main-color;
    border-radius: 7px;
    overflow: hidden;
  }
  .navbar-bottom .nav-links li a {
    height: 60px;
    text-decoration: none;
  }
  .navbar-bottom .nav-links li a:hover, .navbar-bottom .nav-links li a.active {
    background: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .navbar-bottom .nav-links li:hover > .sub_links {
    height: auto;
  }
  .sub_links {
    background: #fafafa;
    visibility: visible;
    opacity: 1;
    width: 100%;
    position: relative;
    top: 0;
    transform: translatey(0);
    height: 0;
  }
  
  .sub_links li {
    display: block;
    padding-left: 420px;
  }

  .search-toggle, .menu-toggle {
    margin-top: 10px;
  }
}

.hero-header {
  margin: 30px 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .hero-header {
    display: block;
  }
  .intro-sec, .home-hiw {
    width: 100% !important;
  }
}

@media only screen and (max-width: 800px) {
    section#big-logo{
        img{
            width: 40% !important;
            padding-top: 12%;
        }
    }
}

//////// logo and hero
section#big-logo{
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
    .hero{
      min-width: 70%;
      min-height: 70%;
      justify-content: center;
      vertical-align: bottom;
    }
    .hero-text{
      position: relative;
      top: 50%;
      font-size: 80px;
      letter-spacing: 2px;
    }
    .type-text{
      position: relative;
      justify-content: center;
      display: inline-block;
      font-size: 2.6rem;
      font-weight: 900;
      line-height: 1;
      color: white;
      @media only screen and (max-width: 800px){
        font-size:1.3rem;
      }
    }
    .title-text{
      position: relative;
      justify-content: center;
      display: inline-block;
      font-size: 1em;
      font-weight: 900;
      line-height: 1;
      color: white;
      @media only screen and (max-width: 800px){
        font-size: .5em;
      }
    }
}