html {
    --main-color: #1f1f25;
    --second-color: #c6c9d8;
    --gradient: linear-gradient(145deg,#f81f01,#ee076e);
    font-family: 'Montserrat', sans-serif;
    
}

.container{
    width: 80vw;
    min-width: 85vw;
}

body{
    overflow-x: hidden;
    max-width:100%; 
}

.tabs{
    background-color: var(--second-color);
    padding: 3rem 0; 
}

.section-title{
    margin-bottom: 10px;
}

.line{
    border-bottom: solid 2.8px #f81f01;
    margin-bottom: 4px;
    width: 80px;
    transition: all 0.4s ease;
}

.section-title:hover > .line{
    width: 280px;
}

.services-title{
    font-family: 'Montserrat', sans-serif;
    color: var(--main-color);
    line-height: 1.5;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0;
}

.p-large{
    color: var(--main-color);
    font: 400 1rem/1.5rem;
}

.p-heading{
    margin-bottom: 3rem;
    text-align: center;
}

.tabs .nav-tabs{
    width: 85vw;
    margin-bottom: 2.5rem;
    justify-content: center;
    border-bottom: none;
}

.tabs .nav-link{
    margin-bottom: 1rem;
    padding: 0.5rem 1.4rem 0.25rem 1.4rem;
    border: 0;
    opacity: 1;
    border-bottom: 0.1875rem solid white;
    color: #ee076e;
    font: 700 1rem/1.75rem;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.tabs .nav-link.active,
.tabs .nav-link:hover{
    border-bottom: 0.1875rem solid #f81f01;
    background-color: var(--second-color);
    color: #f81f01;
}

.tabs .nav-link .fa{
    margin-right: 0.375rem;
    font-size: 1.1rem;
}

.tabs .card-services{
    border:none;
    border-radius: 12px;
    transition: all 0.2s ease;
}

.tabs .card-body{
    margin-bottom: 0.5rem;
    border-radius: 12px;
    transition: all 0.2s ease;
}

.card-services:hover {
    background: rgb(242, 38, 76);
    -webkit-transform: translateY(-9px);
            transform: translateY(-9px);
    color: white;
    -webkit-box-shadow: 0 7px 10px rgba(16, 14, 23, 0.49);
            box-shadow: 0 7px 10px rgba(16, 14, 23, 0.49);
}

.tabs .card-body p{
    color: var(--main-color);
    transition: all 0.3s ease;
}

.tabs .card-body .card-title{
    font-weight: 600;
    color: var(--main-color);
    transition: all 0.3s ease;
}

.tabs .card-services .card-icon{
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: rgb(242, 38, 76);
    text-align: center;
    vertical-align: top;
}

.card-icon.margin-left{
    margin-left: 15px;
}

.card-services:hover p,
.card-services:hover .card-icon,
.card-services:hover .card-title{
    color: white;
}

.tabs .card-services .card-icon .fa {
    color: white;
    font-size: 2rem;
    line-height: 3.6rem;
}

.tabs .card-services.left-pane .text-wrapper{
    display: inline-block;
    width: 75%;
    text-align: right;
}

.tabs .card-services.left-pane .card-icon{
    float: none;
    margin-right: 0;
    margin-left: 1rem;
}

.tabs img{
    display: block;
    margin: 0.3rem auto 0.3rem auto;
}

.tabs .card-services.right-pane .text-wrapper{
    display: inline-block;
    width: 75%;
    margin-left: 1rem;
}

.tabs .card-services.right-pane .card-icon{
    float: none;
    margin-left: 0;
}

.text-area{
    color: var(--main-color);
}

.text-area h3{
    font-weight: 600;
}

.tabs .icon-cards-area .card-services{
    display: inline-block;
    width: 44%;
    margin-right: 2.5rem;
    vertical-align: top;
}
